#penguin *
{
    position: absolute;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
}


#penguin
{
    position: relative;
    width: 135px;
    height: 130px;
	 margin-left: 150px;
}

#penguin .body .head
{
	top: 20px;
	left: 35px;
   width: 350px;
	height: 350px;
	background: black;
	-moz-border-radius: 175px;
	-webkit-border-radius: 175px;
	border-radius: 175px;
}

#penguin .body .head .forehead
{
	top: 5px;
	left: 50px;
   width: 250px;
	height: 250px;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjJiMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#2b2b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-8 */

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#penguin .body .head .eyebro_right
{
	top: 100px;
	left: 160px;
   width: 160px;
	height: 130px;
	background: black;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	transform:rotate(-12deg);
	-ms-transform:rotate(-12deg); 
	-webkit-transform:rotate(-12deg); 
}

#penguin .body .head .eyebro_left
{
	top: 80px;
	left: 40px;
   width: 150px;
	height: 130px;
	background: black;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}



#penguin .body .head .eye_right
{
	z-index: 99;
	top: 130px;
	left: 178px;
   width: 120px;
	height: 110px;
	background: white;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	transform:rotate(-12deg);
	-ms-transform:rotate(-12deg); 
	-webkit-transform:rotate(-12deg); 
}



#penguin .body .head .eye_right .pupil
{
	top: 20px; 
	left: 5px;
   width: 30px;
	height: 45px;
	background: black;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	transform:rotate(12deg);
	-ms-transform:rotate(12deg); 
	-webkit-transform:rotate(12deg);
}

#penguin .body .head .eye_right .pupil .inner1
{
	top: 3px; 
	left: 3px;
   width: 24px;
	height: 39px;
	background: #c4c4c4; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjJiMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c4c4c4 0%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4c4c4), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c4c4c4 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c4c4c4 0%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c4c4c4 0%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c4c4c4 0%,#2b2b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-8 */

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#penguin .body .head .eye_right .pupil .inner2
{

	left: 6px;
   width: 20px;
	height: 38px;
	background: black; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#penguin .body .head .eye_left
{
	z-index: 98;
	top: 110px;
	left: 67px;
   width: 110px;
	height: 130px;
	background: white;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

}

#penguin .body .head .eye_left .pupil
{
	top: 40px;
	left: 73px;
   width: 35px;
	height: 55px;
	background: black;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#penguin .body .head .eye_left .pupil .inner1
{
	top: 3px; 
	left: 3px;
   width: 29px;
	height: 49px;
	background: #c4c4c4; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjJiMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c4c4c4 0%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4c4c4), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c4c4c4 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c4c4c4 0%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c4c4c4 0%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c4c4c4 0%,#2b2b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-8 */

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#penguin .body .head .eye_left .pupil .inner2
{
	left: 6px;
   width: 25px;
	height: 47px;
	background: black; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}


#penguin .body .head .nose
{
	z-index: 100;
	top: 200px;
	left: 135px;
	width:80px; 
   height:80px; 
   background: #febf01;
   border-radius: 90px 15px 15px 15px;
   -moz-border-radius: 90px 15px 15px 15px;
   -webkit-border-radius: 90px 15px 15px 15px;
   transform:rotate(45deg);
	-ms-transform:rotate(45deg); 
	-webkit-transform:rotate(45deg); 
}







#penguin .body .belly
{
	top: 200px;
   width: 425px;
	height: 425px;
	background: black;
	-moz-border-radius: 50%  ;
	-webkit-border-radius: 50%  ;
   border-radius:         50%  ;
}


#penguin .body .belly .inner1
{
	top: 50px;
	left: 60px;
   width: 300px;
   height: 375px;
   background: LightGray;
   -moz-border-radius:    50%  50%  50%  50%  / 40%  40%  40%  40%;
   -webkit-border-radius: 50%  50%  50%  50%  / 40%  40%  40%  40%;
   border-radius:         50%  50%  50%  50%  / 40%  40%  40%  40%;
}

#penguin .body .belly .inner2
{
	top: 50px;
	left: 60px;
   width: 300px;
   height: 375px;
   background: White;
   -moz-border-radius: 50%  50%  50%  50%  / 40%  40%  60%   60%;
   -webkit-border-radius: 50%  50%  50%  50%  / 40%  40%  60%   60%;
   border-radius:         50%  50%  50%  50%  / 40%  40%  60%   60%;
}



#penguin .body .foot_right
{
	top: 550px;
	left: 20px;
   width: 200px;
	height: 100px;
	background: DimGray;
	-moz-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}

#penguin .body .foot_right .inner1
{
	right: 20px;
   width: 200px;
	height: 110px;
	background: #fcfcfc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iOSUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1NSUiIHN0b3AtY29sb3I9IiNmZWJmMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-radial-gradient(center, ellipse cover,  #fcfcfc 9%, #febf01 55%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(9%,#fcfcfc), color-stop(55%,#febf01)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #fcfcfc 9%,#febf01 55%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #fcfcfc 9%,#febf01 55%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #fcfcfc 9%,#febf01 55%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #fcfcfc 9%,#febf01 55%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#febf01',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	-moz-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}


#penguin .body .foot_left
{
	top: 550px;
	left: 205px;
   width: 200px;
	height: 100px;
	background: DimGray;
	-moz-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}


#penguin .body .foot_left .inner1
{
	left: 20px;
   width: 200px;
	height: 110px;
	background: #fcfcfc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iOSUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1NSUiIHN0b3AtY29sb3I9IiNmZWJmMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-radial-gradient(center, ellipse cover,  #fcfcfc 9%, #febf01 55%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(9%,#fcfcfc), color-stop(55%,#febf01)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #fcfcfc 9%,#febf01 55%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #fcfcfc 9%,#febf01 55%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #fcfcfc 9%,#febf01 55%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #fcfcfc 9%,#febf01 55%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#febf01',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	-moz-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}


#penguin .body .arm_right{
	top: 325px;
	left: -100px;
	width: 200px;
	height: 45px;
	background: black;
	transform:rotate(-40deg);
	-ms-transform:rotate(-40deg); 
	-webkit-transform:rotate(-40deg);
	
	border-bottom-left-radius: 20px;
	border-top-left-radius: 50%;
}


#penguin .body .arm_left{
	top: 325px;
	left: 325px;
	width: 200px;
	height: 45px;
	background: black;
	transform:rotate(40deg);
	-ms-transform:rotate(40deg); 
	-webkit-transform:rotate(40deg);
	
	border-bottom-right-radius: 20px;
	border-top-right-radius: 50%;
	
	}

#penguin .body .shoulder_right{
	top: 205px;
	left: 335px;
	width: 50px;
	height: 100px;
	background: black;
	
	}
	
#penguin .body .shoulder_left{
	top: 205px;
	left: 35px;
	width: 50px;
	height: 100px;
	background: black;
	
	}

